/*
▒▒▒▒▒▒▒▒▒▒▒▒ 
▒▒▒▒▓▒▒▓▒▒▒▒
▒▒▒▒▓▒▒▓▒▒▒▒ 
▒▒▒▒▒▒▒▒▒▒▒▒
▒▓▒▒▒▒▒▒▒▒▓▒
▒▒▓▓▓▓▓▓▓▓▒▒ 
▒▒▒▒▒▒▒▒▒▒▒▒*/

* {
	margin: 0;
	padding: 0;
}



body {
	background-color: #000000;
}

::selection {
	color: none;
	background: none;
}

#smallscreen {
	visibility: hidden;
	height: 0px;
	display: none;
}

#bigscreen {
	position: relative;
	top: 0px;
}


#bigscreenimg img {
	visibility: visible;
	width: 100vw;
	height: 100%;
}


#flowers img{
	visibility: visible;
	position: fixed;
	width: 15vw;
	height: auto;
	bottom: 0px;
	left: 5vw;
}

#bigsss {
	visibility: visible;
	position: absolute;
	background-color: #ffeed1;
	top: 46%;
	left: 7%;
	width: 27.2%;
	aspect-ratio: 11/1;
	opacity: 100%;
	mix-blend-mode: multiply;
	text-align: center;
}

#bigsss a {
	font-size: 2.5vw;
    color: transparent;
}


#bigemail {
	visibility: visible;
	position: absolute;
	background-color: #ffeed1;
	top: 47.6%;
	left: 50.8%;
	width: 29.4%;
	aspect-ratio: 12/1;
	opacity: 100%;
	mix-blend-mode: multiply;
	text-align: center;
}

#bigemail a {
	font-size: 2.8vw;
	color: transparent;
	
}

#bigemail:hover, #bigsss:hover  {
	background-color: #cca789;
}

#bigemail:active, #bigsss:active {

	background-color: #ee9456;
}








/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████░░████░░░░░░░░░░░░░░
░░░░░░░░████▄▄████░░░████░░░░░░░
░░░░░░░░██████████░░░████░░░░░░░
░░░░░░░░████▀▀████░░░████░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*/



/* H I */


