/*
▒▒▒▒▒▒▒▒▒▒▒▒ 
▒▒▒▒▓▒▒▓▒▒▒▒
▒▒▒▒▓▒▒▓▒▒▒▒ 
▒▒▒▒▒▒▒▒▒▒▒▒
▒▓▒▒▒▒▒▒▒▒▓▒
▒▒▓▓▓▓▓▓▓▓▒▒ 
▒▒▒▒▒▒▒▒▒▒▒▒*/

* {
	margin: 0px;
	padding: 0px;
}

body { 
	background-color: #000000;
	overflow: hidden;
	position: fixed;
	font-family: 'faro', Sans-Serif;
	font-size: 23px;
	color: black;
	font-weight: 500; 
}

body a {
	background-color: #dffdff;
	color: black;
	text-decoration: none;
}

body a:hover, a:hover:visited {
	font-family: 'faroSad', Sans-Serif;
	background-color: #dffdff;
}

body a:active, a:active:visited {
	color: white;
}
/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████░░████░░░░░░░░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████▄▄████░░░████░░░░░░░
░░░░░░░░██████████░░░████░░░░░░░
░░░░░░░░████▀▀████░░░████░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░████░░████░░░████░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*/


h1 {
	font-weight: 800;
	font-size: 40px;
}

h2 {
	font-weight: 600;
	font-size: 23px;
}

h6 {
	font-family: 'Roboto-mono', monospace;
	font-weight: 500;
}
article {
	width: 60%;
	padding: 5% 0% 5% 20%;
	position: relative;
}

article h6 {
	line-height: 2em;
}
article h2 {
	line-height: 1.5em;
}

article p{
	line-height: 1.5em;
}

.explaination {
	padding: 10% 0% 0% 20%;
	margin-bottom: -30px;
	position: relative;
}

li {
	list-style: none;
	font-size: 17px;
	padding-left: 2px;
	
}


::selection {
	color: white;
	background-color: black;
}

::-moz-selection{
	color: white;
	background-color: black;
}

//กม มง สะ ตาด

.them-borders {
	position: fixed;
	z-index: 10000;
	background-color: red;
	visibility: visible;
	/*  opacity: 0.5;*/
}

#top-border {
	top: 0%;
	height: 15px;
	width: 100%;
}

#left-border {
	left: 0%;
	height: 100%;
	width: 17px;
}


#bottom-border {
	bottom: 0%;
	height: 15px;
	width: 100%;
}

#right-border {
	right: 0%;
	height: 100%;
	width: 17px;
}


.movethis {
	width: 110vw;
	height: 115vh;
	position: absolute;
	margin-top: -7.5vh;
	z-index: -1;
	cursor: move;
	/*    opacity: 0.3;*/

}

#bg1 { background-color: #ffffff;
	z-index: 0;
}

#bg2 { background-color: #fff5da;
	z-index: -1;
}

#bg3 { background-color: #ffe8dc;
	z-index: -2;
}

/*#96d9e5*/
#bg4 { background-color: #dffdff;
	z-index: -3;
}

#colophon { 
	z-index: -4;
	width: 18vw;
	height: auto;
	top: 50vh;
	left: 40vw;
	padding: 15px;
	border: solid 10px black; 
	line-height: 30px;
}


#bg5 { background-color: #ff0000;
	z-index: -5;
}



/* P R O J E C T S */

#work-window {
	width: 85%; 
	height: 685px;
	background-color: white;
	border-bottom: black solid 4px;
	border-left: black solid 4px;
	border-right: black solid 4px;
	position: fixed;
	z-index: 100;
	top: 3vh;
	left: 2vw;
	min-width: 300px;
	-webkit-filter: drop-shadow(4px 7px 5px rgba(0,0,0,0.3));      
	filter: drop-shadow(4px 7px 5px rgba(0,0,0,0.3));  

}

.bar {
	width: 100%;
	height: 20px;
	border-bottom: black solid 4px;
	border-top: black solid 4px;
	margin-top: 0px;
	background-color: white;
	cursor: move;
}

.xclosemex {
	font-family: 'faro', Sans-Serif;
	font-weight: 600;
	color: black;
	float: right;
	padding-right: 6px;
	margin-top: -30px;
	cursor: pointer;
	font-size: 23px;
}

.title-window {
	font-size: 19px;
	font-weight: 700;
	margin-top: -1px;
	color: black;
	text-align: center;
	cursor: move;

}

#eingonusa {
	line-height: 45px;
}

#gdsf {
	line-height: 50px;
}

.hiateing {
	line-height: 40px;
}

/*PROJECT CONTENTS*/
/*PROJECT CONTENTS*/
/*PROJECT CONTENTS*/
/*PROJECT CONTENTS*/
/*PROJECT CONTENTS*/
/*PROJECT CONTENTS*/

#projects-content {

	width: 100%;
	height: 95.9%;
	word-wrap: break-word;
	overflow-y: scroll;
	position: absolute;
	/*text-align: center;*/
	background-color: white;

}

#projects-content p {
	padding: 6% 1% 3% 5%;
	width: 80%;
}

.boxes-for-projects {
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	background-color: black;
	z-index: 1000;
	position: relative;
	float: left;
	margin: 1.65%;
	text-align: center;
	flex-wrap: wrap;
	overflow: hidden;
	cursor: zoom-in;
	-webkit-filter: drop-shadow(3px 3px 5px rgba(170, 170, 170, 0.1));      
	filter: drop-shadow(3px 3px 5px rgba(170, 170, 170, 0.1));  
}

.boxes-for-projects:hover {
	animation-name: opacity;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;

}

@keyframes opacity {
	0% {opacity: 1;}
	100% {opacity: 0.5;}
}


/* DETAILS WINDOW
C O N T E N T S 
C O N T E N T S 
C O N T E N T S 
C O N T E N T S 
C O N T E N T S 
C O N T E N T S */


.detailed-project-windows {
	width: 85.5%; 
	height: 690px;
	background-color: white;
	/*  border-top: black solid 7px;*/
	border-bottom: black solid 4px;
	border-left: black solid 4px;
	border-right: black solid 4px;
	position: fixed;
	z-index: 100;
	top: 4.5vh;
	left: 3vw;
	min-width: 300px;
	-webkit-filter: drop-shadow(4px 7px 5px rgba(0,0,0,0.3));      
	filter: drop-shadow(4px 7px 5px rgba(0,0,0,0.3));  
}

.detailed-project-content {
	background-color: transparent;
	width: 100%;
	height: 96%;
	word-wrap: break-word;
	overflow-y: scroll;
	position: absolute;
	overflow-x: hidden;
}

.detailed-project-content p {
	min-width: 230px;
}


.detailed-project-content img{
	height: 500px;
}

#works{
	width: 88px;
	/*	margin-right: 230px;*/
}

#about{ 
	width: 59px;
	cursor: help;
	/*	margin-right: 130px;*/
}

#contacteing{
	width: 72px;
}

/* A B O U T  _ c o n t e n t */

#xabout {
	bottom: -21px;
	left: -2px;
	position: relative;
	font-size: 45px;
	cursor: pointer;
	z-index: 60;  
}

#xabout:hover {
	opacity: 0.5;
}

#window-about {
	width: 600px; 
	height: 600px;
	background-color: white;
	border: black solid 4px;
	z-index: 40;
	top: 8.1vh;
	left: 23.2vw;
	position: fixed;
	cursor: move;
	box-shadow: 7px 7px black;
}

#about-content {
	width: 548px;
	height: auto;
	padding: 1.8%;
	background-color: transparent;
	word-wrap: break-word;
	position: fixed;
	cursor: move;
	line-height: 29px;
	z-index: 12;
}

#about-content > h1,p {
	display: inline;
	vertical-align: top;
}

/* C O N T A C T -- c o n t e n t */

#xcontact {
	bottom: -21px;
	left: -2px;
	position: relative;
	font-size: 45px;
	cursor: pointer;
	z-index: 60;  
}

#xcontact:hover {
	opacity: 0.5;
}

#window-contact {
	width: 400px; 
	height: 228.5px;
	background-color: white;
	border: black solid 4px;
	z-index: 38;
	top: 16.1vh;
	left: 40.5vw;
	position: fixed;
	cursor: move;
	box-shadow: 7px 7px black;
}

#contact-content {
	width: 340px;
	height: auto;
	padding: 1.8%;
	background-color: transparent;
	word-wrap: break-word;
	position: fixed;
	cursor: move;
	z-index: 12;


}

/*project contents img*/
/*project contents img*/

.headimg img {
	width:100%;
	height:auto;
}

.oneimg img {
	width:60%;
	height:auto;
	padding:5% 0% 5% 20%;
}

.oneblownimg img {
	width:80%;
	height:auto;
	padding: 5% 0% 5% 10%;
}

.twoimg img {
	width:50%;
	height:auto;
	float:left;
	margin-top:0.8%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.fourimg img {
	width:25%;
	height:auto;
	float:left;
	margin-top:0.8%;
	padding-top: 5%;
	padding-bottom: 10%;
}

.bottomimg img {
	padding-bottom: 0%;
}

.head_video{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.head_video iframe{
	left:5%;
	top:0;
	height:90%;
	width:90%;
	position:absolute;
}


/*
──────▄▀▄─────▄▀▄   windows
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄  sticky
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█*/



#einglogo img{
	width: 200px;
	z-index:100;
	cursor: move;
	opacity: 1;
	position: absolute;
	top: 78vh;
	right: -92vw;
}



#statement img{
	width: 450px;
	z-index:100;
	cursor: move;
	opacity: 1;
	position: absolute;
	bottom: -104.5vh;
	left: -175px; 
	cursor: move;
	box-shadow: black 3px 3px 7px -2px;
}

.theicons {
	position: relative;
	cursor: pointer;
	mix-blend-mode: multiply;
	z-index: 4;
	-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.3));      
	filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.3)); 
	top: 2vh;
	right: -92vw;
	padding-top: 2.5vh;
}


/*SCROLLBARSCROLLBARSCROLLBARSCROLLBAR*/

::-webkit-scrollbar {
	width: 17px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
	background-color: white;
	border-left: solid black 4px;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	background-color: white;
	background-image: radial-gradient(black 20%, transparent 35%),
		radial-gradient(black 20%, transparent 35%);
	background-size: 5px 5px;
	background-position: 0 0, 0px 0px;
	border-top: 4px solid black; 
	border-bottom: 4px solid black; 
	border-left: 4px solid black; 
	cursor: pointer;
} /* this will style the thumb, ignoring the track */


::-webkit-scrollbar-thumb:hover {
	background-color: #e3e3e3;
	background-image: radial-gradient(black 20%, transparent 35%),
		radial-gradient(black 20%, transparent 35%);
	background-size: 5px 5px;
}

::-webkit-scrollbar-thumb:active {
	background-color: #ffc42c;
	border-top: 4px solid black; 
	border-bottom: 4px solid black; 
	border-left: 4px solid black; 
}

::-webkit-scrollbar-button {
	background-color: white;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
	background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

