@media (max-width: 1024px){ 


	html body * {
		visibility: hidden;
	}
	
	#bigscreen {
		visibility: hidden;
		height: 0px;
		display: none;
	}
	
	
	#smallscreen {
		position: relative;
		top: 0px;
	}
	
	#smallscreen img {
		visibility: visible;
		width: 100vw;
		height: 100%;
		}
	
	#smallsss {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 64.1%;
		left: 9%;
		width: 82%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
	}
	
	#smallemail {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 78.9%;
		left: 3%;
		width: 93%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
	}
}

/*iphone*/

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

		html body * {
		visibility: hidden;
	}
	
	#bigscreen {
		visibility: hidden;
		height: 0px;
		display: none;
	}
	
	
	#smallscreen {
		position: relative;
		top: 0px;
	}
	
	#smallscreen img {
		visibility: visible;
		width: 100vw;
		height: 100%;
		}
	
	#smallsss {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 64.1%;
		left: 9%;
		width: 82%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
	}
	
	#smallemail {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 78.9%;
		left: 3%;
		width: 93%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
	}
	
}




@media (min-width: 550px){ 

		html body * {
		visibility: hidden;
	}
	
	#bigscreen {
		visibility: hidden;
		height: 0px;
		display: none;
	}
	
	
	#smallscreen {
		position: relative;
		top: 0px;
	}
	
	#smallscreen img {
		visibility: visible;
		width: 100vw;
		height: 100%;
		}
	
	#smallsss {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 64.1%;
		left: 9%;
		width: 82%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
	}
	
	#smallemail {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 78.9%;
		left: 3%;
		width: 93%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
	}
	

}


/*
-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-


*/
