@media only screen and (min-device-width : 250px) and (max-device-width : 2048px) {

		html body * {
		visibility: hidden;
	}
	
	#bigscreen {
		visibility: hidden;
		height: 0px;
		display: none;
	}
	
	
	#smallscreen {
		position: relative;
		top: 0px;
		pointer-events: none; 
	}
	
	#smallscreen img {
		visibility: visible;
		width: 100vw;
		height: 100%;
		}
	
	#smallsss {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 64.1%;
		left: 9%;
		width: 82%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
	}
	

	#smallemail {
		visibility: visible;
		position: absolute;
		background-color: #ffeed1;
		top: 78.9%;
		left: 3%;
		width: 93%;
		aspect-ratio: 12/1;
		opacity: 100%;
		mix-blend-mode: multiply;
		pointer-events: auto; 
	}
	
	#smallemail:active {
    background-color: #ffaf96;
	}
	
	 #smallemail p {
		visibility: visible;
		font-size: 6vw;
		color: transparent;
		pointer-events: auto; 
		text-align: center;
		letter-spacing: 1.5vw;
  -webkit-user-select: all;  /* Chrome all / Safari all */
  -moz-user-select: all;     /* Firefox all */
  -ms-user-select: all;      /* IE 10+ */
  user-select: all;          /* Likely future */   
}
	
}
 	










