@font-face {
	font-family:'Faro';
	src: url('FaroWeb-BoldLucky.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-BoldLucky.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-BoldLucky.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-BoldLucky.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'FaroSad';
	src: url('FaroWeb-RegularSad.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-RegularSad.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-RegularSad.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-RegularSad.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'Faro';
	src: url('FaroWeb-RegularLucky.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-RegularLucky.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-RegularLucky.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-RegularLucky.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'FaroSad';
	src: url('FaroWeb-LightSad.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-LightSad.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-LightSad.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-LightSad.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'Faro';
	src: url('FaroWeb-LightLucky.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-LightLucky.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-LightLucky.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-LightLucky.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'FaroSad';
	src: url('FaroWeb-DisplaySad.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-DisplaySad.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-DisplaySad.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-DisplaySad.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'Faro';
	src: url('FaroWeb-DisplayLucky.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-DisplayLucky.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-DisplayLucky.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-DisplayLucky.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'FaroSad';
	src: url('FaroWeb-BoldSad.eot'); /* IE9 Compat Modes */
	src: url('FaroWeb-BoldSad.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FaroWeb-BoldSad.woff2') format('woff2'), /* Super Modern Browsers */
         url('FaroWeb-BoldSad.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}